@import url('https://fonts.google.com/specimen/Figtree');

body {
      background-image: linear-gradient(to right, #f4d04e, #f4d04e 50px, #eecb50 5px, #eecb50);
      background-size: 8% 100%;

      font-family: 'Figtree', sans-serif;
}

main {
      /* margin: 10% 0px 0px 0px; */
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
}

.maincard {
      margin: 10% 0px 10% 0px;
      flex-basis: 200;
      width: 290px;
      height: 400px;
      border: 1px solid;
      border-radius: 8px;
      box-shadow: 5px 5px;
      background-color: white;

      display: block;
      justify-content: flex-start;

      transition: all 0.25s;
}

.maincard:hover {
      .B-text {
            color: hsl(47, 88%, 63%);
      }

      box-shadow: 10px 10px;
}

.card-img {
      margin: 15px auto;
      width: 250px;
      height: 150px;
      border-radius: 8px;
      background-color: hsl(47, 88%, 63%);
}

.tag {
      margin: 0px 20px 15px 20px;
      display: flex;
      justify-content: flex-start;
}

.l-text {
      width: 50px;
      height: 15px;
      border-radius: 2px;
      background-color: hsl(47, 88%, 63%);

      padding: 2px;
      font-weight: 900;
      font-size: 12px;
      text-align: center;
}

.text {
      margin: auto 20px;
      padding: 0px 15px 0px 0px;
      font-size: 12px;

      height: auto;
      word-wrap: break-word;
}

.para-text {
      color: #737373;
}

.B-text {
      margin: 15px 20px 15px 20px;
      font-size: 18px;
      font-weight: 900;
      text-align: start;

      transition: all 0.5s;
}

.person {
      margin: 15px 20px;
      display: flex;
      flex-direction: row;
      align-content: flex-start;
}

.person-name {
      padding: 15px 10px;
      font-weight: 900;
      font-size: 12px;
}

.circle {
      margin: auto 0;
      height: 30px;
      width: 30px;
      background-color: #555;
      border-radius: 50%;
}